{% extends "layout.html" %}
{% block content %}
    <h1>Hi there!</h1>
    <h4>I'm Murad Abdullayev the creator of this website. <br>
        <br/>
        ExpressFind is a multisearch engine that you can you look for any commercial items in three
        different sites: <br>
        <a href="https://www.amazon.com/" target="_blank">amazon.com</a> <br>
        <a href="https://tap.az/" target="_blank">tap.az</a> <br>
        <a href="https://www.aliexpress.com/" target="_blank">aliexpress.com</a> <br> <br/>
        More information about this site and proper installation instructions can be found in my
        <a href="https://github.com/muradabdullayev900/ExpressFind" target="_blank">github</a>. <br> <br/>
        Should you have any question or recommendations please do not hesitate to contact
        <a href="mailto: murad.abdullayev.std@bhos.edu.az" target="_blank">murad.abdullayev.std@bhos.edu.az</a>
    </h4>
{% endblock content %}